/* ---------Reset Styles--------- */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-size: 100%;
  line-height: 1;
  vertical-align: baseline;
}

picture,
img {
  display: inline-block;
  vertical-align: top;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button,
input[type="button"],
input[type="checkbox"],
input[type="radio"],
input[type="submit"] {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
li,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

address {
  font-style: normal;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *:before,
  *:after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*----------------End of reset styles--------------------*/
@font-face {
  font-family: "PixelFJVerdana12pt";
  font-display: swap;
  src: url(../fonts/PixelFJVerdana12pt.woff2) format("woff2"), url(../fonts/PixelFJVerdana12pt.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  font-family: "PixelFJVerdana12pt", monospace;
}

._lock {
  overflow: hidden;
}

.container, .popup__container {
  padding: 0 12px;
  margin: 0 auto;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.btn {
  padding: 0.75em 1em;
  font-size: 1.2em;
  border: black 0.2em solid;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn:active {
  -webkit-transform: translateY(7%);
          transform: translateY(7%);
}

.bg, .game__tile {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg._c, ._c.game__tile {
  background-size: contain;
}

/**********************
        CONTENT
*********************/
.game {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  min-height: 100vh;
  background: -webkit-gradient(linear, right top, left top, from(#00f2fe), to(#4facfe));
  background: linear-gradient(270deg, #00f2fe 0%, #4facfe 100%);
}

.game__title {
  font-size: 24px;
  margin-bottom: 2em;
}

@media only all and (min-width: 320px) {
  .game__title {
    font-size: calc(100vw * 0.01786 + 18.28571px);
  }
}

@media only all and (min-width: 768px) {
  .game__title {
    font-size: 32px;
  }
}

.game__board {
  display: -ms-grid;
  display: grid;
  background: radial-gradient(100.88% 100.88% at -2.62% -4.5%, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), -webkit-gradient(linear, left top, left bottom, from(#BCC5CE), color-stop(98.18%, #929EAD));
  background: radial-gradient(100.88% 100.88% at -2.62% -4.5%, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), linear-gradient(180deg, #BCC5CE 0%, #929EAD 98.18%);
  border: 1rem outset darkcyan;
}

.game__tile {
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-size: 1rem;
  background-color: #e5e5e5;
  border: 0.5rem outset #afafaf;
  background-size: cover;
}

.game__tile:active {
  border-style: inset;
}

.game__tile._revealed {
  border: none;
  background-color: transparent;
  cursor: auto;
}

.game__tile._flagged {
  background-image: url("../img/flag.png");
}

.game__tile._exploded {
  background-color: red;
  background-image: url("../img/mine.png");
}

.game__tile._1 {
  color: #005eff;
}

.game__tile._2 {
  color: #bbff00;
}

.game__tile._3 {
  color: #e600ff;
}

.game__tile._4 {
  color: #00ff88;
}

.game__tile._5 {
  color: #ff2b00;
}

.game__tile._6 {
  color: #0033ff;
}

.game__tile._7 {
  color: #91ff00;
}

.game__tile._8 {
  color: #ff00ee;
}

.game__tile._9 {
  color: #00ffb3;
}

.mode {
  padding: 0.75rem;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 6rem;
  height: 6rem;
}

.mode__btn {
  width: 100%;
  height: 100%;
  padding: .3rem;
  background-color: #e5e5e5;
  border: #afafaf 0.5rem outset;
}

.mode__img-layout {
  width: 100%;
  height: 100%;
  background-image: url("../img/mine.png");
}

.mode__btn._flag .mode__img-layout {
  background-image: url("../img/flag.png");
}

.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup__container {
  max-width: 768px;
  height: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.popup__body {
  width: 100%;
  min-height: 480px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left bottom, left top, from(#37ecba), to(#72afd3));
  background: linear-gradient(0deg, #37ecba 0%, #72afd3 100%);
}

.popup__title {
  margin-bottom: 1.5em;
  color: white;
  line-height: 2;
  text-align: center;
  font-size: 1.5rem;
}

.popup__btn {
  margin-bottom: 1em;
  display: inline-block;
  color: white;
  background-color: #0a9aff;
}

.popup__btn:hover {
  background-color: darkcyan;
}

.corner-layout {
  padding: 0.75rem;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 1.5rem;
}

.corner-layout._right {
  left: auto;
  right: 0;
}

.corner-layout__row {
  height: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.corner-layout__count {
  margin-right: 0.5em;
}

.corner-layout img {
  height: 100%;
}
