@font-face {
  font-family: "botsmaticdemo";
  font-display: swap;
  src: url(../fonts/botsmaticdemo.woff2) format("woff2"),
    url(../fonts/botsmaticdemo.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PixelFJVerdana12pt";
  font-display: swap;
  src: url(../fonts/PixelFJVerdana12pt.woff2) format("woff2"),
    url(../fonts/PixelFJVerdana12pt.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
